body {
  margin: 0;
  padding: 0;
}

.container {
  overflow: hidden;
}

.anime-container {
  background-size: cover;
  float: left;
  padding-bottom: 40%;
  width: 25%;
}

.anime-container.left {
  margin: 5% 3% 5% 6%;
  background-image: url('../images/anime-char-1.jpg');
  background-position: 10% 50%;
}

.anime-container.middle {
  margin: 2% 3% 5% 3%;
  background-image: url('../images/anime-char-2.jpg');
  background-position: 49% 50%;
}

.anime-container.right {
  margin: 8% 5% 5% 3%;
  background-image: url('../images/anime-char-3.jpg');
  background-position: 95% 50%;
}
