.container {
	text-align: center;
}

.container.home {
	background: url("../img/bg-anime.png") no-repeat 30px 50px fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: auto;
	margin-left: 0;
	text-align: right;
	width: auto;
}

.heading {
	color: #333;
	font-family: 'Lobster Two', Arial, sans-serif;
}